body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
}

.app-header {
  background-color: #ff6600;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
}

.app-logo {
  height: 75px;
  margin-right: 20px;
}

.app-title-container {
  flex-grow: 1;
  text-align: center;
  margin-right: 160px;
}

.app-title {
  margin: 0;
  font-size: 2em;
}

.app-welcome-message {
  margin: 5px 0;
  font-size: 1.2em;
}

.qr-code-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 160px);
}

.qr-code {
  max-width: 80%;
  max-height: 80%;
  border: 5px solid #ff6600;
  border-radius: 10px;
}

/* Media queries para dispositivos móviles */
@media (max-width: 600px) {
  .app-title {
    font-size: 1.5em;
  }

  .app-welcome-message {
    font-size: 1em;
  }

  .qr-code {
    max-width: 100%;
    max-height: 100%;
  }
}
